#в архиве есть мусорные файлы и системные файлы
#(папка tmp, файлы, заканчивающиеся суффиксами _old, _backup, Thumbs.db и .DS_Store)
#и их нужно проигнорировать, так как в противном случае получится, что вы храните ненужные файлы
tmp/
index.html_old
NeuroStartUp.png_backup
Thumbs.db
.DS_Store